.footer {
  padding: 4rem 6rem;
  height: 50vh;
  background-color: var(--primary);
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer ul li {
  font-size: 1.3rem;
  margin-left: -1.8rem;
}
.footerUpperDiv {
  display: flex;
  justify-content: space-between;
}
.copyRight {
  text-align: center;
}
