:root {
  --warning: #ff8f00;
  --warning-active: #f08000;
  --danger: #e62020;
  --danger-active: #fd5c63;
  --primary: #3f00ff;
  --primary-active: #082567;
  --success: #228b22;
  --success-active: #50c878;
  --light-gray: lightgray;
  --dark-gray: darkgray;
  --gray: gray;
  --text-white: #f2f2f2;
  --bg-white: ivory;
  --text-dark: #1d1d1d;
  --bg-dark: #1d1d1d;
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.App {
  /* background-color: var(--primary
  ); */
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 30ms ease-in-out;
}

.btn:active {
  box-shadow: 0 0 2px 2px inset var(--gary);
  transform: scale(95%, 95%);
}

.signin-btn {
  background-color: var(--warning);
  color: var(--text-white);
  font-size: 1.2rem;
}
.signin-btn:active {
  background-color: var(--warning-active);
}

.signup-btn {
  background-color: var(--warning);
  color: var(--text-white);
  font-size: 1.2rem;
}
.signup-btn:active {
  background-color: var(--warning-active);
}

.signout-btn {
  background-color: var(--danger);
  color: var(--text-white);
  font-size: 1.2rem;
}
.signout-btn:active {
  background-color: var(--danger-active);
}
.secondary-btn {
  margin-top: 2rem;
  font-size: 1.3rem;
  color: var(--text-dark);
  padding: 1rem 1.5rem;
  background-color: var(--bg-white);
}
